<!DOCTYPE html>
<html>
<head>
    <title>rne3 buscador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>-->
</head>
<body>
<div class="buscador" >
    <img src="https://f4.bcbits.com/img/a0083212747_5.jpg" alt="Avatar" style="width:200px">
        <form class="search-container" method="POST" action="{{url_for('form_submitted')}}" >
            <input type="text" id="search-bar" name="artista" placeholder="Busca tu artista favorito">
        </form>
</div>
<div class="made-with-love">
  Hecho con
  <i>♥</i> por
  <a>Rafael Castillo</a>
</div>
</body>
</html>